Repository Insert-Angular-Guild/doctor-flight: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, npx nx format:write --files, nx run-many --target=stylelint

.lintstagedrc:

{
    "*.ts": [
  "nx affected:lint --fix --files"
    ],
    "*": [
        "npx nx format:write --files"
    ],
    "*.scss": [
"nx run-many --target=stylelint"
    ]
}

feat: backend, proxy settings
  apps/doctor-flight-api-e2e/.eslintrc.json
  apps/doctor-flight-api-e2e/jest.config.ts
  apps/doctor-flight-api-e2e/project.json
  apps/doctor-flight-api-e2e/src/doctor-flight-api/doctor-flight-api.spec.ts
  apps/doctor-flight-api-e2e/src/support/global-setup.ts
  apps/doctor-flight-api-e2e/src/support/global-teardown.ts
  apps/doctor-flight-api-e2e/src/support/test-setup.ts
  apps/doctor-flight-api-e2e/tsconfig.json
  apps/doctor-flight-api-e2e/tsconfig.spec.json
  apps/doctor-flight-api/.eslintrc.json
  apps/doctor-flight-api/jest.config.ts
  apps/doctor-flight-api/project.json
  apps/doctor-flight-api/src/app/app.controller.spec.ts
  apps/doctor-flight-api/src/app/app.controller.ts
  apps/doctor-flight-api/src/app/app.module.ts
  apps/doctor-flight-api/src/app/app.service.spec.ts
  apps/doctor-flight-api/src/app/app.service.ts
  apps/doctor-flight-api/src/assets/.gitkeep
  apps/doctor-flight-api/src/main.ts
  apps/doctor-flight-api/tsconfig.app.json
  apps/doctor-flight-api/tsconfig.json
  apps/doctor-flight-api/tsconfig.spec.json
  apps/doctor-flight-api/webpack.config.js
  apps/doctor-flight/project.json
  apps/doctor-flight/src/app/app.config.ts
  apps/doctor-flight/src/proxy/proxy.conf.json
  package-lock.json
  package.json
Due: nx affected:lint --fix --files, npx nx format:write --files

feat: backend, proxy settings 2
  apps/doctor-flight-api/src/app/app.controller.spec.ts
  apps/doctor-flight-api/src/app/app.service.spec.ts
  apps/doctor-flight/src/app/app.component.spec.ts
  apps/doctor-flight/src/app/navigation/navigation.component.spec.ts
Due: nx affected:lint --fix --files, npx nx format:write --files

feat: booking domain #1
  libs/booking/feature-list-bookings/src/lib/booking-feature-list/booking-feature-list.component.spec.ts
Due: nx affected:lint --fix --files, npx nx format:write --files

feat: smart & dumb components #1
  apps/doctor-flight-api/src/app/booking/booking.data.ts
  apps/doctor-flight-api/src/app/booking/booking.model.ts
  libs/booking/domain/src/index.ts
  libs/booking/domain/src/lib/application/booking.facade.ts
  libs/booking/domain/src/lib/entities/booking.data.ts
  libs/booking/domain/src/lib/entities/booking.response.ts
  libs/booking/domain/src/lib/entities/booking.ts
  libs/booking/domain/src/lib/util/booking.mapper.ts
  libs/booking/feature-list-bookings/src/lib/booking-feature-list/booking-feature-list.component.html
  libs/booking/feature-list-bookings/src/lib/booking-feature-list/booking-feature-list.component.scss
  libs/booking/feature-list-bookings/src/lib/booking-feature-list/booking-feature-list.component.ts
  libs/booking/feature-list-bookings/src/lib/model/booking-card.ui.model.ts
  libs/booking/feature-list-bookings/src/lib/ui-card/ui-card.component.html
  libs/booking/feature-list-bookings/src/lib/ui-card/ui-card.component.scss
  libs/booking/feature-list-bookings/src/lib/ui-card/ui-card.component.spec.ts
  libs/booking/feature-list-bookings/src/lib/ui-card/ui-card.component.ts
  libs/booking/feature-list-bookings/src/lib/ui-flight/ui-flight.component.html
  libs/booking/feature-list-bookings/src/lib/ui-flight/ui-flight.component.scss
  libs/booking/feature-list-bookings/src/lib/ui-flight/ui-flight.component.spec.ts
  libs/booking/feature-list-bookings/src/lib/ui-flight/ui-flight.component.ts
  libs/booking/feature-list-bookings/src/lib/ui-food/ui-food.component.html
  libs/booking/feature-list-bookings/src/lib/ui-food/ui-food.component.scss
  libs/booking/feature-list-bookings/src/lib/ui-food/ui-food.component.spec.ts
  libs/booking/feature-list-bookings/src/lib/ui-food/ui-food.component.ts
Due: nx affected:lint --fix --files, npx nx format:write --files, nx run-many --target=stylelint

feat: smart & dumb components #1
  libs/booking/feature-list-bookings/src/lib/ui-card/ui-card.component.ts
  libs/booking/feature-list-bookings/src/lib/ui-food/ui-food.component.ts
Due: nx affected:lint --fix --files, npx nx format:write --files

feat: smart & dumb components #1
  .husky/pre-push
Due: npx nx format:write --files

feat: weather endpoints, facade
  apps/doctor-flight-api/src/app/app.module.ts
  apps/doctor-flight-api/src/app/weather/weather.controller.ts
  apps/doctor-flight-api/src/app/weather/weather.data.ts
  apps/doctor-flight-api/src/app/weather/weather.model.ts
  apps/doctor-flight-api/src/app/weather/weather.service.ts
  libs/weather/domain/src/lib/application/weather.facade.ts
  libs/weather/domain/src/lib/infrastructure/weather.service.ts
  libs/weather/feature-widget-list/src/lib/weather-widget-list/weather-widget-list-container.component.html
  libs/weather/feature-widget-list/src/lib/weather-widget-list/weather-widget-list-container.component.ts
Due: nx affected:lint --fix --files, npx nx format:write --files

feat: wind widget and ngcontent for button
  libs/shared/ui-widget/src/index.ts
  libs/shared/ui-widget/src/lib/config/refresh-button.directive.ts
  libs/shared/ui-widget/src/lib/config/widget-button.token.ts
  libs/shared/ui-widget/src/lib/shared-ui-widget-wrapper/shared-ui-widget.component.html
  libs/shared/ui-widget/src/lib/shared-ui-widget-wrapper/shared-ui-widget.component.ts
  libs/shared/ui-widget/src/lib/widget-refresh-button/widget-refresh-button.component.html
  libs/shared/ui-widget/src/lib/widget-refresh-button/widget-refresh-button.component.scss
  libs/shared/ui-widget/src/lib/widget-refresh-button/widget-refresh-button.component.ts
  libs/shared/ui-widget/src/lib/wind-widget/wind-widget.component.html
  libs/shared/ui-widget/src/lib/wind-widget/wind-widget.component.scss
  libs/shared/ui-widget/src/lib/wind-widget/wind-widget.component.ts
  libs/weather/domain/src/lib/application/weather.facade.ts
  libs/weather/domain/src/lib/infrastructure/weather.service.ts
  libs/weather/feature-widget-list/src/lib/weather-widget-list/weather-widget-list-container.component.html
  libs/weather/feature-widget-list/src/lib/weather-widget-list/weather-widget-list-container.component.scss
  libs/weather/feature-widget-list/src/lib/weather-widget-list/weather-widget-list-container.component.ts
  libs/weather/index.ts
Due: nx affected:lint --fix --files, npx nx format:write --files, nx run-many --target=stylelint

feat: snowfall widget
  libs/shared/ui-widget/src/index.ts
  libs/shared/ui-widget/src/lib/snowfall-widget/snowfall-widget.component.html
  libs/shared/ui-widget/src/lib/snowfall-widget/snowfall-widget.component.scss
  libs/shared/ui-widget/src/lib/snowfall-widget/snowfall-widget.component.ts
  libs/weather/domain/src/lib/application/weather.facade.ts
  libs/weather/domain/src/lib/infrastructure/weather.service.ts
  libs/weather/feature-widget-list/src/lib/weather-widget-list/weather-widget-list-container.component.html
  libs/weather/feature-widget-list/src/lib/weather-widget-list/weather-widget-list-container.component.scss
  libs/weather/feature-widget-list/src/lib/weather-widget-list/weather-widget-list-container.component.ts
  libs/weather/index.ts
Due: nx affected:lint --fix --files, npx nx format:write --files, nx run-many --target=stylelint

fix: cr
  libs/shared/ui-widget/src/lib/config/refresh-button.directive.ts
  libs/shared/ui-widget/src/lib/config/widget-button.token.ts
  libs/shared/ui-widget/src/lib/shared-ui-widget-wrapper/shared-ui-widget.component.ts
  libs/shared/ui-widget/src/lib/widget-refresh-button/widget-refresh-button.component.ts
  libs/shared/ui-widget/src/lib/wind-widget/wind-widget.component.html
  libs/shared/ui-widget/src/lib/wind-widget/wind-widget.component.ts
  libs/weather/domain/src/lib/infrastructure/weather.service.ts
Due: nx affected:lint --fix --files, npx nx format:write --files

fix: cr ui type
  libs/weather/domain/src/lib/application/weather.facade.ts
  libs/weather/domain/src/lib/entities/weather.response.ts
  libs/weather/domain/src/lib/entities/weather.ts
Due: nx affected:lint --fix --files, npx nx format:write --files

feat: fix cr
  libs/weather/domain/src/lib/application/weather.facade.ts
  libs/weather/domain/src/lib/entities/weather.ts
Due: nx affected:lint --fix --files, npx nx format:write --files
